{{#each this}}
<div class="card">
    <h2 class="card-name">Name: {{name}}</h2>

    <div class="description">
        <p class="text">Capital: {{capital}}</p>
        <p class="text">Population: {{population}}</p>
        <p class="text"><b>Languages:</b></p>

        <ul class="language">
            {{#each languages}}
            <li class="item">{{name}}</li>
            {{/each}}
        </ul>
    </div>

    <img src="{{flag}}" alt="{{name}}" width="500" height="300">
</div>
{{/each}}